@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');


@font-face {
    font-family: "Boston Traffic";
    src: url(../assets/fonts/boston_traffic.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* estilos globales */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font-family: "Boston Traffic", sans-serif;
    color: rgba(129, 67, 238, 0.64);
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: 20px;
}

/* header */
header {
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 100;
}

nav,
ul {
    display: flex;
}

nav {
    justify-content: space-between;
}

nav.fondoAzul{
    background-color: blue;
}

nav a img {
    margin-right: 10px;
}

ul {
    align-items: center;
    justify-content: space-around;
    width: 85%;

}


nav ul li {
    list-style: none;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px 0 15px;
}



nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/* fin header */
/* footer */
footer .flexFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

footer .fa-brands {
    color: black;
    font-size: 19px;
    margin-right: 10px;
}

footer form input {
    border: none;
    padding: 10px;
    border-radius: 15px;
}

footer form button {
    border: none;
    background-color: transparent;
}

footer form button .fa-arrow-right {
    font-size: 18px;
    color: blueviolet;
}

footer hr {
    border: 1px solid #aaa1a1;
}

footer h6 {
    padding: 15px;
    text-align: center;
}

/* fin footer */

/* whatsapp */
.whatsapp {
    position: fixed;
    bottom: 15px;
    right: 5px;
}

.whatsapp img {
    width: 80%;
}

/* fondo header y footer */
.fondoRosa {
    background-color: rgb(208, 206, 206);
    /* agregado para que se vea el componente bootstrap bien */
    width: 99vw;
    overflow-x: hidden;
}

/* index */
.tituloIndex {
    margin: 20px
}

.contenidoIndex {
    padding: 15px;
}

.contenidoIndex h2 {
    margin: 5px;
    text-align: center;
    background-color: #dfdbe9;
}

.contenidoIndex p {
    padding: 10px;
    text-align: justify;
    line-height: 1.5;
}

/* fin index */

/* galeria index */
.galeria {
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "pepito box2 box3"
        "pepito box2 box4"
        "box7 box2 box4"
        "box7 box6 box5"
        "box8 box6 box5";
    padding: 15px;
    background-color: rgb(159, 117, 139);
    height: 80vh;
    width: 80vw;
    margin: auto;
}


.box {
    border: 1px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box h3 {
    background-color: yellow;
    padding: 20px;
    width: 80%;

}

.box1 {
    background-color: aquamarine;
    grid-area: pepito;

}

.box2 {
    background-color: rgb(13, 143, 179);
    grid-area: box2;

}

.box3 {
    background-color: rgb(31, 191, 138);
    grid-area: box3;

}

.box4 {
    background-color: rgb(29, 211, 224);
    grid-area: box4;

}

.box5 {
    background-color: rgb(38, 167, 124);
    grid-area: box5;

}

.box6 {
    background-color: rgb(95, 147, 151);
    grid-area: box6;

}

.box7 {
    background-color: rgb(15, 148, 103);
    grid-area: box7;

}

.box8 {
    background-color: rgb(30, 142, 180);
    grid-area: box8;

}

/* fin galeria index */

/* inicio CATALOGO */


/* grilla catalogo */

.novedades {
    display: grid;
    grid-template-columns: 35% repeat(2, 1fr);
    justify-items: center;
    width: 90vw;
    margin: 0 auto;
}

.novedades img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.novedadesTxt1 {
    grid-column: 1 /4;
    padding: 15px 100px;
    text-align: center;
}
.novedadesImg1 {
    grid-column: 1/2;
    grid-row: 2/4;   
}
.novedadesImg2 {
    grid-column: 3/4;
    grid-row: 2/3;    
}
.novedadesImg3 {
    grid-column: 2/3;
    grid-row: 3/4;   
}
.novedadesImg4 {
    grid-column: 3/4;
    grid-row: 3/4;    
}
.novedadesTxt2 {
    grid-column: 2/3;
    grid-row: 2/3;    
    display: flex;
    align-items: center;
    line-height: 2;
    padding: 30px;
    font-size: 1.15rem;
    text-align: center;
}
/* fin grilla catalogo */
/* inicio ultimas unidades catalogo */

.ultimasUnidadesBloque {
    margin: 25px 0;
}
.ultimasUnidadesBloque h2 {
    text-align: center;
    font-size: 2rem;
    color: blueviolet
}
.ultimasUnidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ultimasUnidades div img {
    width: 200px;
    height: auto;
    object-fit: cover;
}
.ultimasUnidades a {
    text-decoration: none;
    font-size: 0.85rem;
    color: black;
    text-align: center;
    display: block;
}
.ultimasUnidadesParrafo {
    line-height: 1.25;
    font-size: 0.85rem;
    width: 60%;
    font-weight: 900;
    text-align: justify;
    border: 1px solid lightskyblue;
    margin: 0 auto;
}
/* fin ultimas unidades catalogo */

/* first letter de index y placeholder */

/* BOOTSTRAP */


/* media queries */
/* TABLET */
@media screen and (max-width: 1024px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "pepito pepito box2 box3"
            "box6 box4 box4 box4"
            "box7 box8 box8 box5";
        /* height: 80vh;
        width: 80vw;
        margin: auto; */
    }

    /* ultimas unidades de catalogo */
    .novedades {
       
        grid-template-columns: repeat(2, 1fr);
        width: 95vw;
        margin: 0 auto;
    }

    .novedadesTxt1 {
        grid-column: 1 /3;
        padding: 25px 30px;
    }

    .novedadesImg1 {
        display: none;
    }

    .novedadesImg2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .novedadesImg3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .novedadesImg4 {
        display: none;
    }

    .novedadesTxt2 {
        grid-column: 1/3;
        grid-row: 3/4;
        line-height: 1;
        padding: 25px;
        font-size: .95rem;
    }

}



/* MOBILE */
@media screen and (max-width: 768px) {
    .galeria {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "pepito"
            "box2"
            "box3"
            "box4"
            "box5"
            "box6"
            "box7"
            "box8";
        row-gap: 10px;
        height: auto;
    }

    /* catalogo ultimas unidades */
    .novedades {
        grid-template-columns: 100%;
    }

    .novedadesTxt1 {
        grid-column: 1 /2;

    }

    .novedadesImg2 {
        grid-column: 1/2;
        grid-row: 2/3;

    }

    .novedadesImg3 {
        grid-column: 1/2;
        grid-row: 4/5;

    }

    .novedadesImg4 {
        grid-column: 1/2;
        grid-row: 5/6;
        display: block;
    }

    .novedadesTxt2 {
        grid-column: 1/2;
        grid-row: 3/4;

    }
}

/* ---------------------- */
/* pseudoclase */
nav.navbar ul.navbar-nav li.nav-item:hover{
    background-color: rgb(54,162,174);
    padding: 15px;
    border-radius: 15px 0;
}

nav ul li a:visited{
    color: red;
}

form input[type="email"]{
    outline: none;
}

form input[type="email"]:focus{
    box-shadow: 1px 4px 31px 0px #636ed3 ;
    outline: 1px solid red;
}
/* .bgNovedades{
    width: 100%;
    height: 200px;
} */

.bgNovedades:nth-child(1){
    background-color: lightcoral;
}
.bgNovedades:nth-child(2){
    background-color: rgba(71, 184, 30, 0.705);
}
.bgNovedades:nth-child(3){
    background-color: rgb(46, 21, 133);
}
.bgNovedades:nth-child(4){
    background-color: rgb(89, 7, 75);
}
.bgNovedades:nth-child(5){
    background-color: rgb(7, 57, 66);
}
.bgNovedades:nth-child(6){
    background-color: rgb(218, 221, 39);
}

/* pseudoelemento */
::placeholder{
    font-size: 0.75rem;
    font-weight: 600;
    color: rgb(13, 143, 179)
}


.novedades p::first-letter{
    color: purple;
    font-size: 2.5rem;
    word-spacing: 5px;
}
/* boostrap */

.miClaseCarousel{
    padding: 5px 70px;
}

.navbar-toggler-icon {
    background-image: url(../assets/img/icono-menu.ico);
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0.2px solid rgb(29, 19, 208);
    box-shadow: none;
}

button:focus:not(:focus-visible) {
    outline: 0.2px solid rgb(105, 99, 215);
}
button.carousel-control-prev {
   /*  left: 0; */
    background: black;
    width: 10%;
}

button.navbar-toggler {
/*     padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition); */
    border: none;
    background: #8fc5d7;
    padding: 5px 12px;
    border-radius: 0 15px;
}

span.carousel-control-next-icon {
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e); */
    background-color: black;
}
